::-ms-clear {
    display: none;
}

textarea{
	overflow: hidden;
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	//ie11
	body{
		display: block;
	}

	h1, .title{
		font-family: 'MyriadProLight';
	}
}


/* ie9 */  

// :root .advantages ul {display: block\9;}     
:root h1, :root .title,
:root .inner h1, :root .inner h2, :root .inner h3, :root .inner h4, :root .inner h5, :root .inner h6
{
	font-family: "MyriadProLight";
}
:root .top .container {display: block\9;}     
:root .top .container .top_menu {padding-top: 15px;\9;}     
// others
:root .others_wrapper{display: block;\9}
:root .others .actions_item{float: left;\9}


:root .others .news_item{
	display: block\9;
	float: left\9;
}

:root .others .news_item_wrapper{
	min-height: 31rem\9
}


:root .meta .date{
	display: inline\9
}

:root .meta .back{
	float: right;
	display: inline\9
}

:root .list_provaiders .provaiders_item .provaiders_item_wrapper{
	min-height: 300px\9;
}

:root .img-responsive{
	width: 100%\9;
	height: 100%\9;
	max-width: auto\9;
}


:root .list_tarifs .tarif_item_top{
	overflow: hidden\9;
}

:root .list_tarifs .tarif_item_top .head{
	display: block\9;
	float: left\9;
	width: 30%\9;
}

:root .list_tarifs .tarif_item_top .params{
	float: right\9;
	display: block\9;
	width: 70%\9;
}


:root .list_tarifs .tarif_item_description:after{
	display: none\9;
}

:root .list_tarifs .tarif_item_top .params .speed{
	text-align: center\9;
	margin-top: 1rem\9;
}

:root .tarif_box .params .channels{
	margin-left: 30%\9;
}

:root .list_tarifs .tarif_item_top .params .speed p:before{
	left: 30%\9;
}


:root .list_tarifs .tarif_item_top .params .channels {
	margin-top: 1rem\9;
}
:root .list_tarifs .tarif_item_top .params .channels p{
	padding-left: 0\9;
}


:root .card_tarifs .tarif_box{
	overflow: hidden\9;
}

:root .card_tarifs .tarif_item_description{
	float: left\9;
	width: 69%\9;
}

:root .card_tarifs .tarif_item_top .head{
	display: block\9;
	float: left\9;
	width: 30%\9;
}

:root .card_tarifs .tarif_item_top .params{
	float: right\9;
	display: block\9;
	width: 70%\9;
}


:root .card_tarifs .tarif_item_description:after{
	display: none\9;
}

:root .card_tarifs .tarif_item_top .params .speed{
	text-align: center\9;
	margin-top: 1rem\9;
}

:root .tarif_box .params .channels{
	margin-left: 20%\9;
}

:root .card_tarifs .tarif_item_top .params .speed .num,
:root .card_tarifs .tarif_item_top .params .speed p{
	float: left\9;
}

:root .card_tarifs .tarif_item_top .params .speed p:before{
	left: 12%\9;
}

:root .card_tarifs .tarif_item_top .params .channels {
	margin-top: 1rem\9;
}
:root .card_tarifs .tarif_item_top .params .channels p{
	padding-left: 0\9;
}

:root .card_tarifs .tarif_box .buttons{
	float: right\9;
	overflow: visible\9;
	width: 30%\9;
}





.top_menu,
.top_support{
	float: left;
}

.top_support{
	padding-top: 10px;
}

.top_callback{
	float: right;
}


header.header .container,
.neck .info,
.rating-actions-filter .container,
.tarif_box .buttons{
	display: block;
}

header.header .logo,
header.header .city-select,
header.header nav
{
	float: left;
}

header.header .logo{
	width: 267px;
	padding-top: 25px;
}

header.header .city-select{
	width: 162px;
}

header.header .buttons{
	float: right;
	width: 170px;
}

.neck .info .cell{
	float: left;
	margin-right: 25px;
}

.neck .info .cell:last-child{
	margin-right: 0;
}


.rating-actions-filter .rating{
	width: 645px;
}

.rating-actions-filter .actions{
	width: 250px;
}
.rating-actions-filter .right{
	width: 300px;
}

.tarif_box .buttons{
	overflow: hidden;
}

.tarif_box .buttons a{
	float: left;
}

.tarif_box .buttons a.more{
	margin-right: 30px;
}

.tarif_box .params .channels{
	margin-left: 15%;
}

.steps .pic{
	padding-top: 25px;
}

.about .left .item div{
	padding-top: 30px;
}

#opencity .cities .column dl{
	float: left;
	width: 50%;
}

