.list_tarifs,
.list_provaiders{
	margin-bottom: 3rem;
	header{
		text-transform: uppercase;
	}
}


.list_provaiders{
	.row{
		margin-left: -10px;
		margin-right: -10px;
		.flex;
		.flex-wrap;
	}
	.provaiders{
		&_item{
			.flex;
			flex-grow: 1;
			margin-top: 2rem;
			max-width: 304px;
			padding-left: 10px;
			padding-right: 10px;
			&_wrapper{
				.flex;
				.transition;
				border: 1px solid @color22;
				flex-flow: column;
				position: relative;
				width: 100%;
			}
			&_info{
				border-top: 1px solid @color22;
				position: relative;
				padding-bottom: 68px;
				padding-left: 0;
				padding-right: 0;
				margin-left: 19px;
				margin-right: 19px;
				flex-grow: 1;

				.title-rating,
				.payment{
					margin-left: 0;
					margin-right: 0;
				}
				.payment{
					display: block;
					margin-top: 0;
					padding-top: 0;
					position: absolute;
					bottom: 15px;
					width: 100%;
				}
				.title-rating{
					.label-rating{
						position: relative;
						top: .3rem;
					}
				}
				.title{
					text-transform: none;
				}
			}
			.tooltip{
				z-index: -1;
			}
			&:hover{
				.provaiders_item_wrapper{
					.drop-shadow(0,0,20px, .4);
					border-color: @color2;
				}
				.tooltip{
					z-index: 10;
				}
			}	

			.label-action{
				background: none;
				left: -5px;
				padding: 0;
				position: absolute;
				top: -5px;
			}		
		}
	}
}

/*=sortbox
---------------------*/
.sortbox{
	border: 1px solid @color22;
	margin-top: 1rem;
	padding: 1.5rem 1.8rem;
	ul{
		li{
			display: inline-block;
			margin-right: 3rem;
			position: relative;
			&.sort-label{
				color: @color34;
				margin-right: 2.4rem;
				&:after{
					display: none;
				}
			}
			&:last-child{
				margin-right: 0;
				&:after{
					display: none;
				}
			}


			&.sort-provaider{
				margin-top: .7rem;
			}

			&:after{
				.font-size(1.8);
				.regular;
				color: @color22;
				content: "|";
				display: inline-block;
				position: absolute;
				right: -20px;
				top: -3px;
			}

			a{
				color: @color4;
				position: relative;
				display: inline-block;
				text-decoration: none;
				&:hover{
					color: @color8;
				}
				&.selected{
					.semibold;
					color: @color1;
					font-weight: normal;
					margin-right: 5px;
				}
				&.up,
				&.down{
					&:after{
						.before;
						height: 6px;
						right: -9px;
						top: 7px;
						width: 6px;
					}
				}
				
				&.up{
					&:after{
						.sprite(-28px, -22px);
					}
				}
				&.down{
					&:after{
						.sprite(-35px, -22px);
					}
				}
			}

			span{
				color: @color4;
			}
			i{
				font-style: normal;
				position: relative;
				z-index: 1002;
				span{
					color: @color1;
				}				
			}

			.mCSB_container{
				padding-top: 0;
				padding-bottom: 0;
			}
			.mCSB_scrollTools{
				// background: @color11;
				right: -16px !important;
				.mCSB_dragger .mCSB_dragger_bar{
					background: #0090db;
					width: 10px;
					&:before,
					&:after{
						.before;
						.sprite(-71px, -23px);
						height: 4px;
						left: 2px;
						width: 6px;
					}

					&:before{
						top: 4px;
					}

					&:after{
						.rotation(180deg);
						bottom: 4px;
					}
				}
				.mCSB_draggerRail{
					background: none;
				}
			}

			.scroll{
				.drop-shadow(0,0,10px, .2);
				background: @color2;
				border-right: 16px solid #eef3fa;
				display: none;				
				height: 270px;
				left: -10px;
				padding-top: 30px;
				position: absolute;
				top: -8px;
				width: 206px;
				z-index: 1000;
				ul{
					.font-size(1.5);
					padding-left: 10px;
					padding-bottom: 10px;
					li{
						display: block;
						color: @color40;
						margin-top: .9rem;
						margin-right: 0;
						&:after{
							content: "";
						}
						&:hover{
							color: @color1;
						}
					}
				}
			}

			.scroll-wrapper{
				height: 235px;
			}

			.select-provaiders{
				cursor: pointer;
				display: inline-block;
				margin-left: 5px;
				position: relative;
				i{
					padding-right: 20px;					
				}
				&:after{
					.before;
					.sprite(-72px, -143px);
					height: 6px;
					right: 5px;
					top: 6px;
					width: 9px;
					z-index: 1001;
				}

				&.show{
					.scroll{
						display: block;
					}
					&:after{
						.rotation(180deg);
					}
				}		
			}


			/* Это для всех браузеров, кроме совсем старых, которые не поддерживают
			селекторы с плюсом. Показываем, что label кликабелен. */
			.checkbox + label {
				cursor: pointer;
				display: block;
			}

			/* Далее идет оформление чекбокса в современных браузерах, а также IE9 и выше.
			Благодаря тому, что старые браузеры не поддерживают селекторы :not и :checked,
			в них все нижеследующие стили не сработают. */

			/* Прячем оригинальный чекбокс. */
			.checkbox:not(checked) {
				position: absolute;
				opacity: 0;
			}
			.checkbox:not(checked) + label {
				position: relative; /* будем позиционировать псевдочекбокс относительно label */
				padding: 0 0 0 28px; /* оставляем слева от label место под псевдочекбокс */
			}

			.checkbox:checked + label {
				color: @color1;
			}

			/* Оформление первой части чекбокса в выключенном состоянии (фон). */
			.checkbox:not(checked) + label:before {
				background: #fff;
				border-radius: 3px;
				border: 1px solid #c3cdd8;
				content: '';
				height: 21px;
				left: 0;
				position: absolute;
				top: -1px;
				transition: all .2s;
				width: 21px;
				z-index: 1;
			}

			/* Оформление второй части чекбокса в выключенном состоянии (переключатель). */
			.checkbox:not(checked) + label:after {
				content: '';
				position: absolute;
				top: -2px;
				left: 2px;
				width: 22px;
				height: 22px;
				background: #FFF;
				transition: all .2s; /* анимация, чтобы чекбокс переключался плавно */
			}
			/* Меняем фон чекбокса, когда он включен. */
			.checkbox:checked + label:before {
				background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAMAAACeyVWkAAAAVFBMVEUPiukPiukPiukPiukPiukPiukPiukPiukPiukgkuvS6fvP6Pv///8jlOva7fzX7Pun1Pfg8PyAwfPx+P4olutks/FSq+/d7vzu9/38/v+t1/cRi+kgrKkNAAAACHRSTlMG6oeE5+SNiveIHYgAAABxSURBVHhejdDJDoNADANQM2zODFv37f//s+KQRECk1sd3sGQDdctt2hpIPCahCrQCyWEbkn/p5RRoHrkcNAt5c3WU2bScJ8VivS+hZEXXKylvRW8Q8qNourKh6zDdOZZg2+MZL/6t8b8p0B7omp01Hb4eMRDNCAMALAAAAABJRU5ErkJggg==") no-repeat left top;
				border: none;
			}


		}
	}
}
/*=sortbox
---------------------*/


/*=aside
---------------------*/
aside{
	.filter{
		background-color: @color11;
		padding: 3rem 2.8rem;
		.row{
			margin: 0;
		}
		&_header{
			padding-left: 0;
			padding-right: 0;
		}
		&_body{
			.param{
				border-top: 1px solid @color52;
				padding-top: 1.5rem;
				margin-top: 0;
				&-submit{
					margin-bottom: 0;
				}
			}
			.place{
				border-top: 1px solid @color52;
				margin-top: 2rem;
				margin-bottom: 2rem;
				padding-top: 2rem;
			}
			.cell{
				margin-top: 0;
			}
		}

	}
	.links{
		margin: 2.6rem 0;
		.font-size(1.5);
		ul{
			li{
				position: relative;
				padding-left: 22px;
				margin: 1.1rem 0;
				&:before{
					.before;
					color: @color19;
					content: "—";
					left: 0;
					top: 0px;
				}
			}
		}
		a{
			.tdn;
			color: @color16;
			position: relative;
			&:hover{
				color: @color8;
			}
		}
	}
}
/*=aside
---------------------*/